/* @import 'bourbon/bourbon';
$gutter: em(48px);
$visual-grid:true;
@import 'neat/neat'; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

p {
  margin-bottom: 0; }

body {
  /*  background: #AED581;
  */
  background: #ECEFF1; }

header {
  height: 75px;
  width: 100%;
  z-index: 15;
  background: transparent;
  position: absolute; }

.header-container {
  margin: 0 auto;
  font-size: 0;
  padding-top: 25px;
  text-align: center; }

.header-logo {
  display: inline-block;
  font-size: 16px; }

.header-nav {
  display: inline-block;
  color: #fff; }

.header-nav-reverse {
  color: #01579B; }

.header-nav ul {
  list-style: none; }

.header-nav li {
  display: inline-block;
  padding-left: 30px;
  font-size: 14px;
  font-weight: lighter; }

.header-nav li:first-child {
  padding-left: 0; }

/* Top Section */
section {
  background: #ECEFF1;
  width: 700px;
  margin: 0 auto; }

.top-section {
  width: 700px;
  z-index: -1;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  margin-top: 420px;
  text-align: center;
  position: absolute; }

.surfpaddle-container {
  width: 700px;
  height: 700px;
  background: url("../images/surf-mockup.png");
  background-size: contain;
  z-index: 0;
  position: relative;
  background-repeat: no-repeat;
  margin: 0 auto; }

/* .surf-mac {
  background: url('../images/surfpaddle-mac.jpg');
  background-size:contain;
  width:600px;
  height:400px;
  display: inline-block;
}

.surf-phone {
  background: url('../images/surfpaddle-iphone.png');
  background-size:contain;
  width:370px;
  height:740px;
  display: inline-block;
} */
.home-heading {
  font-size: 31px;
  font-weight: 100;
  font-family: 'Unica One', sans-serif;
  text-transform: uppercase; }

.home-subheading {
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  margin-top: 15px; }

.section-li {
  display: inline-block;
  width: 220px;
  list-style: none;
  text-align: center;
  border-right: 1px solid #000;
  padding: 30px 15px;
  height: 260px;
  vertical-align: top; }

.section-li:last-child {
  border-right: 0; }

.section-icon {
  font-size: 90px;
  margin-bottom: 15px; }

.section-heading {
  font-size: 24px;
  line-height: 36px; }

.project-wrap {
  height: 600px;
  width: 100%;
  /*   background: url('../images/workspace-bw.jpg') no-repeat center center fixed;
   */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #01579B;
  transition: 250ms; }

.project-container {
  margin: 0 auto;
  text-align: center; }

.section-wrap {
  height: 850px;
  width: 100%;
  background: #ECEFF1;
  padding-top: 100px; }

.contact-container {
  width: 800px;
  margin: 0 auto; }

.contact-wrap {
  border-top: 1px solid #dfdfdf;
  background: #f8f8f8; }

.contact-list {
  display: inline-block;
  color: #000;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 50px; }

.contact-list ul {
  list-style: none; }

.contact-li {
  padding-top: 15px; }

.contact-li p {
  padding-left: 10px;
  display: inline-block;
  font-weight: 300; }

.contact-form {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  border-right: 1px solid #dfdfdf;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: right;
  height: 500px; }

.contact-heading {
  font-size: 24px; }

.contact-form input {
  display: block;
  width: 300px;
  height: 40px;
  background: transparent;
  outline: 0;
  border: 0;
  color: #dfdfdf;
  padding-left: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #dfdfdf;
  font-size: 16px;
  font-weight: 100; }

.contact-form button {
  margin-top: 40px;
  background: transparent;
  border: 1px solid #dfdfdf;
  color: #dfdfdf;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: 100;
  width: 300px; }

/* Projects */
.projects {
  position: relative;
  width: 100%;
  z-index: 10; }

.projects-container {
  width: 100%;
  font-size: 0;
  background: #111;
  margin: 0 auto;
  border-top: 1px solid #222; }

.projects::before {
  display: none;
  content: "\0020";
  color: transparent;
  width: 103.1%;
  height: 88px;
  background: #01579B;
  position: absolute;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-12deg);
  left: -3.15%;
  top: 50px; }

.negative-slope {
  display: block;
  content: "\0020";
  color: transparent;
  width: 103%;
  height: 104px;
  background: #01579B;
  position: absolute;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  left: -3.15%;
  margin-top: -60px;
  /*   box-shadow: 0 0 115px 14px #9CCC65;
   */
  display: none; }

.positive-slope {
  display: block;
  content: "\0020";
  color: transparent;
  width: 103%;
  height: 104px;
  background: #01579B;
  position: absolute;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  left: -3.15%;
  margin-top: -36px;
  /*   box-shadow: 0 0 115px 14px #9CCC65;
   */ }

.project-thumb {
  display: inline-block;
  width: 25%;
  height: 100px;
  text-align: center;
  padding-top: 25px;
  position: relative;
  vertical-align: top; }

.thumb-logo {
  display: inline-block; }

.thumb-logo p {
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 5px #000;
  text-transform: uppercase;
  z-index: 10;
  position: relative; }

.thumb-logo1 {
  background: url("../images/surfpaddle.png");
  position: relative;
  width: 180px;
  height: 34px;
  z-index: 20;
  background-size: contain;
  margin: 0 auto; }

.thumb1:hover .thumb-logo1 {
  background: url("../images/paddle-color.png");
  position: relative;
  width: 240px;
  height: 45px;
  z-index: 20;
  background-size: contain;
  margin: 0 auto; }

.thumb-logo2 {
  background: url("../images/majestic-thai-grey.png");
  position: relative;
  width: 210px;
  height: 40px;
  z-index: 20;
  background-size: contain;
  margin: 0 auto; }

.thumb2 {
  padding-top: 27px; }

.thumb2:hover .thumb-logo2 {
  background: url("../images/majestic-thai.png");
  position: relative;
  width: 210px;
  height: 40px;
  z-index: 20;
  background-size: contain;
  margin: 0 auto; }

.view-github,
.view-demo {
  width: 200px;
  height: 45px;
  display: inline-block;
  outline: 0;
  border: 0;
  border-radius: 4px;
  color: #fff;
  padding-top: 12px; }

.view-github {
  border-radius: 4px 0px 0px 4px;
  background: #689F38; }

.view-demo {
  border-radius: 0px 4px 4px 0px;
  background: #558B2F; }

.carousel {
  width: 960px;
  margin: 0 auto;
  position: relative;
  background: #fff;
  height: 300px;
  top: 100px; }

.resume {
  height: 400px;
  background: #ECEFF1;
  display: none; }

.education {
  width: 100%;
  position: relative;
  border-top: 1px solid #dfdfdf;
  z-index: 0; }

.clickable1 {
  transition: 2000ms; }

.hidden {
  transition: 2000ms; }

.education-container {
  width: 800px;
  margin: 0 auto;
  font-size: 0; }

.education-contact-wrap {
  width: 100%;
  position: relative;
  background: #f8f8f8; }

.education-li {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-right: 1px solid #dfdfdf;
  padding-left: 50px; }

.education-li:last-child {
  border-right: 0; }

.education ul {
  padding-left: 0;
  margin-bottom: 0; }

.institute-info {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px; }

.institute-name {
  padding-top: 25px;
  font-size: 24px;
  font-weight: bold; }

.institute-degree {
  font-weight: 100;
  font-style: italic;
  font-size: 16px; }

.institute-logo {
  display: inline-block;
  width: 75px;
  height: 75px; }

.clemson {
  background: url("../images/clemson-logo.png");
  background-size: contain; }

.ironyard {
  background: url("../images/ironyard-logo.png");
  background-size: contain; }

.fixed {
  position: fixed; }

/* Banner */
.my-logo {
  background: url("../images/my-logo-white.png");
  width: 200px;
  height: 200px;
  margin: 0 auto;
  cursor: pointer;
  position: relative; }

.reverse-colors {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: relative; }

.logo {
  padding-top: 200px;
  display: inline-block;
  vertical-align: top; }

.element {
  color: #f0f0f0;
  display: inline-block;
  font-size: 18px;
  font-family: 'Unica One', sans-serif;
  text-transform: uppercase; }

.my-name {
  font-size: 72px;
  color: #f0f0f0;
  text-transform: uppercase;
  font-family: 'Unica One', sans-serif;
  line-height: 62px; }

.typed-cursor {
  display: inline-block;
  color: #01579B;
  font-size: 28px;
  padding-left: 5px;
  font-weight: 100;
  opacity: 1;
  -webkit-animation: blink 1.7s infinite;
  -moz-animation: blink 1.7s infinite;
  animation: blink 1.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.hidden {
  display: none; }

.project-wrap-reverse {
  background: #fff;
  transition: 250ms; }

.my-logo-blue {
  background: url("../images/my-logo-blue.png"); }

.element-reverse {
  color: #01579B; }

.reverse-reverse {
  color: #01579B !important; }

.reverse-button {
  color: #fff;
  padding-top: 15px; }

.reverse-button span {
  font-size: 18px; }

.reverse-button p {
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  padding-top: 2px;
  padding-left: 5px; }

/* Fixed Stuff */
.stickem-container {
  position: relative; }

.stickit {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 1000ms; }

.stickit-end {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  transition: 1000ms; }

.project-preview {
  font-size: 0;
  width: 100%;
  margin: 0 auto; }

.project-preview ul {
  list-style: none;
  padding-left: 0; }

.project-preview-thumb {
  width: 25%;
  height: 200px;
  background: #ccc;
  display: inline-block; }

.preview1 {
  padding-top: 77px;
  background: url("../images/surf-ss.png");
  /*   background: #126EC4;
   */ }

.preview2 {
  padding-top: 72px;
  background: url("../images/thailand.jpg");
  background-size: contain; }

.navbar-default {
  box-shadow: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  text-shadow: none;
  color: #f0f0f0;
  transition: 250ms; }

.navbar {
  border-radius: 0;
  color: #fff; }

.navbar-inverse {
  background: transparent;
  text-shadow: none;
  transition: 250ms; }

.navbar-default .navbar-nav > li > a {
  color: #dfdfdf;
  text-shadow: none; }

.navbar-inverse .navbar-nav > li > a {
  color: #01579B;
  text-shadow: none; }

.navbar-default .navbar-nav > li > a:hover {
  color: #fff; }

.navbar-inverse .navbar-nav > li > a:hover {
  color: #01579B; }

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff; }

.navbar-default .navbar-toggle:hover {
  background: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

/* Twitter */
.twitter-timeline {
  background: transparent;
  border: 0; }

.timeline-footer {
  background: transparent; }

@media screen and (max-width: 734px) {
  .project-wrap {
    height: 400px; }

  .contact-form {
    display: none; }

  .contact-list {
    padding-left: 50px; }

  .contact-container {
    width: 414px; }

  .education-container {
    width: 414px; }

  .education li {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px; }

  .education li:first-child {
    border-right: 0;
    border-bottom: 1px solid #dfdfdf; }

  .education-contact-wrap {
    height: auto; }

  .logo {
    padding-top: 75px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 413px) and (orientation: portrait) {
  .project-wrap {
    height: 400px; }

  .contact-form {
    display: none; }

  .contact-list {
    padding-left: 50px; }

  .contact-container {
    width: 320px; }

  .education-container {
    width: 320px; }

  .education-li {
    width: 320px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px; }

  .education li:first-child {
    border-right: 0;
    border-bottom: 1px solid #dfdfdf; }

  .education-contact-wrap {
    height: auto; }

  .logo {
    padding-top: 75px; } }

/*# sourceMappingURL=main.css.map */
